<body class="align">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/api">Shanti Back</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="title">
<h1>Productos en carrito</h1>
<br>
<a href="/api/carts">
    <label for="carts">Carritos actuales</label>
</a>
<a href="/api/">Home</a>
<br><br>
</div>
<h3>Carrito con Id N:</h3>
<h5 id="cid">{{result._id}}</h5>
<table id="productTable">
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Descripción</td>
			<td>Categoría</td>
			<td>Precio</td>
			<td>Cantidad</td>
			<td>Stock Actual</td>
		</tr>
	</thead>
	<tbody>

    {{#each result.products}}
            <tr>
			<td>{{this.product.title}}</td>
			<td>{{this.product.description}}</td>
			<td>{{this.product.category}}</td>
			<td>{{this.product.price}}</td>
			<td>{{this.quantity}}</td>
			<td>{{this.product.stock}}</td>
			<td id="_id">{{this._id}}</td>
      		<td><button id="deleteProduct" class="btn btn-primary" data-id={{_id}} >Eliminar</button></td>
		</tr>
        {{/each}}
</tbody>
</table>
<br><br><br><br>
	<button id="openModalBtn" class="btn btn-primary">Agregar producto</button>
    <button id="purchaseButton"class="btn btn-primary">Comprar</button>

<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Productos</h3>
    <ul id="product-list"></ul>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-auto">
  <p>©Shanti 2023. Todos los derechos reservados.</p>
</footer>

</body>

<script type="module" src="/cartbyid.js"></script> 
	

