<div>
<h1>Productos en carrito</h1>
<a href="/api/carts">
    <label for="carts">Mira los carritos actuales</label>
</a>
<a href="/api/">Home</a>
</div>
<h2>Carrito con Id N:</h2>
<h2 id="cid">{{this.result._id}}</h2>
<table id="productTable">
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Descripción</td>
			<td>Categoría</td>
			<td>Precio</td>
			<td>Cantidad</td>
			<td>Stock Actual</td>
		</tr>
	</thead>
	<tbody>


    {{#each result.products}}
            <tr>
			<td>{{this.product.title}}</td>
			<td>{{this.product.description}}</td>
			<td>{{this.product.category}}</td>
			<td>{{this.product.price}}</td>
			<td>{{this.quantity}}</td>
			<td>{{this.product.stock}}</td>
			<td id="_id">{{this._id}}</td>
      		<td><button id="deleteProduct" class="btn btn-primary" data-id={{_id}} >Eliminar</button></td>
		</tr>
        {{/each}}
</tbody>
</table>

	<button id="openModalBtn" class="btn btn-primary"> Agregar producto</button>
    <button id="purchaseButton">Comprar</button>

<div>
  <div>
    <span>&times;</span>
    <h3>Productos</h3>
    <ul id="product-list"></ul>
  </div>
</div>

   
<script type="module" src="/cartbyid.js"></script> 
	

