<div class="title">
<h1>Productos en carrito</h1>
<a href="/api/carts">
    <label for="carts">Carritos actuales</label>
</a>
<a href="/api/">Home</a>
</div>
<h3>Carrito con Id N:</h3>
<h4 id="cid">{{result._id}}</h4>
<table id="productTable">
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Descripción</td>
			<td>Categoría</td>
			<td>Precio</td>
			<td>Cantidad</td>
			<td>Stock Actual</td>
		</tr>
	</thead>
	<tbody>


    {{#each result.products}}
            <tr>
			<td>{{this.product.title}}</td>
			<td>{{this.product.description}}</td>
			<td>{{this.product.category}}</td>
			<td>{{this.product.price}}</td>
			<td>{{this.quantity}}</td>
			<td>{{this.product.stock}}</td>
			<td id="_id">{{this._id}}</td>
      		<td><button id="deleteProduct" class="btn btn-primary" data-id={{_id}} >Eliminar</button></td>
		</tr>
        {{/each}}
</tbody>
</table>

	<button id="openModalBtn" class="btn btn-primary">Agregar producto</button>
    <button id="purchaseButton">Comprar</button>

<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Productos</h3>
    <ul id="product-list"></ul>
  </div>
</div>

<script type="module" src="/cartbyid.js"></script> 
	

