<body class="align">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/api">Shanti Back</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="title">
  <h1>Usuarios</h1>
   <a href="/api/">
    Home
  </a>
</div >
<br>
<br>
<div class="list">
 <h3 id=""></h3> 
<table>
	<thead>
		<tr>
			<td>Usuario</td>
			<td>Email</td>
			<td>Rol</td>
			<td>User Id</td>
			<td>Accion</td>
		</tr>
	</thead>
	<tbody>
    {{#each users}}
            <tr>
			<td>{{this.username}}</td>
			<td>{{this.email}}</td>
			<td>{{this.role}}</td>
			<td>{{this._id}}</td>

		<td><button id="sendButton" data-id={{_id}} >Actualizar a Premium</button></td>
      	<td><button id="deleteButton" data-id={{_id}} >Borrar Usuario</button></td>

		</tr>
        {{/each}}
	</tbody>
</table>


<button id="deleteInactiveUsers">Eliminar usuarios inactivos </button>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-auto">
  <p>©Shanti 2023. Todos los derechos reservados.</p>
</footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="module" src="/js/changerole.js"> </script>

