<div class="title">
  <h1>Usuarios</h1>
   <a href="/api/">
    Home
  </a>
</div >
<br>
<br>
<div class="list">
 <h3 id=""></h3> 
<table>
	<thead>
		<tr>
			<td>Usuario</td>
			<td>Email</td>
			<td>Rol</td>
			<td>User Id</td>
			<td>Accion</td>
		</tr>
	</thead>
	<tbody>
    {{#each users}}
            <tr>
			<td>{{this.username}}</td>
			<td>{{this.email}}</td>
			<td>{{this.role}}</td>
			<td>{{this._id}}</td>

		<td><button id="sendButton" data-id={{_id}} >Actualizar a Premium</button></td>
      	<td><button id="deleteButton" data-id={{_id}} >Borrar Usuario</button></td>

		</tr>
        {{/each}}
	</tbody>
</table>


<button id="deleteInactiveUsers">Eliminar usuarios inactivos </button>

<script type="module" src="/changerole.js"> </script>

