
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/api">Shanti Back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <br><br>
<a href="/api/carts">Carritos disponibles aquí</a>
<h2>Estos productos no se encuentran en la base de datos y no se agregaran</h2>
<h3>Agregar producto</h3>

      <input id="cid" type="text" name="cid" placeholder="Ingresa el Id del carrito" >
      <input id="pid" type="text" name="pid"  placeholder="Ingresa el Id del producto">
      <input id="quantity" type="text" name="quantity"  placeholder="Ingresa la cantidad">
      <button id="cartButton">Agregar al carrito</button>
 
<table>
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Descripcion</td>
			<td>Categoría</td>
			<td>Precio</td>
			<td>Stock</td>
			<td>Id del producto</td>
		</tr>
	</thead>
	<tbody>
    {{#each products}}
            <tr>
			<td>{{this.title}}</td>
			<td>{{this.description}}</td>
			<td>{{this.category}}</td>
			<td>{{this.price}}</td>
			<td>{{this.stock}}</td>
			<td>{{this._id}}</td>
		</tr>
        {{/each}}
	</tbody>
</table>

<h3 id="message"></h3>

<!-- Footer -->
  <footer class="bg-dark text-light text-center py-3 mt-auto">
    <p>©Shanti 2023. Todos los derechos reservados.</p>
  </footer>
</body> 

<script type="module" src="/js/products.js"> </script>
